{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>

  <body>
    
    {% include "nav.html" %}
    {% for i in data %}
    <div class="container-fluid ">
      <div class="row">
           <div class="col-lg p-0 m-0">
               <img src="{{ i.banner.url }}" class="w-100 img_h1" height="700px">
               <div class="hd_h1">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                               <h1> {{i.name}}</h1>
                               <p>only 2% of Labs in india are NABL Approved. We are one among them.</p>
                               <div class="btn_h1">
                                   <a href="/"><button class="bn632-hover bn19">About us</button></a>
                                   <a href="/"><button class="bn632-hover bn20">Our Services</button></a>
                               </div> 
                     </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 div_h2">
                    <div class="frm_h1">
                          <h3 class="mb-4 ">Book An Appointment</h3>
                          <form action="" method="post">
                          
                            {% csrf_token %} 
                              <div class="row mb-3">
                                <label for="colFormLabel" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="Task" name="task" placeholder="Name">
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label for="colFormLabel" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10"> 
                                  <input type="number" class="form-control" id="Priority" name="priority" placeholder="Mobile Number">
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label for="colFormLabel" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                  <input type="date" class="form-control" id="date" name="date">
                                  <button class="btn btn-primary justify-content-center mb-3" type="submit">Done</button>
                                </div>
                              </div>
              
                            </form>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 mt-5 div_imgs">
        <img src="{{ i.photo.url }}"class="w-80  img1" height="400px">
      </div>
      <div class="col-lg-6 div_h3">
         <h1>Wellcome to</h1>
         <h1>Primedical Diagnostics</h1>
         <h5>Kochi's Youngest NABL Accredited Laboratory</h5>
         <P>{{i.desc}}</P>
         <div class="row">
          <div class="col-lg-6">
            <i class="bi bi-patch-check"></i>
            <h5>NABL Accredited</h5>
            <p>{{i.desc_1}}</p>
  
          </div>
          <div class="col-lg-6">
            <i class="bi bi-diagram-2"></i>
            <h5>Technology and Experties</h5>
            <p>{{i.desc_3}}</p>
  
          </div>
          <div class="col-lg-6">
            <i class="bi bi-prescription2"></i>
            <h5>Comperhensive</h5>
            <p>{{i.desc_4}}</p>
  
          </div>
          <div class="col-lg-6">
            <i class="bi bi-award"></i>
            <h5>Journey of Excellence</h5>
            <p>{{i.desc_1}}</p>
  
          </div>
         </div>
      </div>
    </div>
  </div>
  <div class="div_h4">
  <h1>Our Offerings</h1>
  <h5>Precision Health,Tailored for You</h5>
  </div>
  <div class="container">
    <div class="row ms-5">
      <div class="col-lg-3 col-md-6 col-sm-12 div_h5">
        <span class="material-symbols-outlined">
          stethoscope_check
          </span>
       <h2>{{i.title_1}}</h2>
       <p>{{i.desc_1}}</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 div_h5_1">
        <span class="material-symbols-outlined">
          medication_liquid
          </span>
        <h2>{{i.title_2}}</h2>
        <p>{{i.desc_2}}</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 div_h5_2"> 
        <span class="material-symbols-outlined">
          diversity_1
          </span>
        <h2>{{i.title_3}}</h2>
        <p>{{i.desc_3}}</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 div_h5_3">
        <span class="material-symbols-outlined">
          clinical_notes
          </span>
        <h2>{{i.title_4}}</h2>
        <p>{{i.desc_4}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
    <footer class="mt-5">
      <div id="footer" class="footer0">
        
      </div>
      <div class="footer1 ">
        Connect with us at<div class="social-media">
          <a href="#">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="#">
            <i class="bi bi-github"></i>
          </a>
          <a href="#">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>
      <div class="footer2">
        <div class="product">
          <div class="heading">Docter Consultations</div>
          <div class="div">Dr.Babu Joseph</div>
          <div class="div">Dr.Amal</div>
          <div class="div">Dr.Zubaida</div>
          <div class="div">Dr.Jameema</div>
  
        </div>
        <div class="services">
          <div class="heading">Services</div>
          <div class="div">CT Scan</div>
          <div class="div">2D Echo Cardiogram</div>
          <div class="div">Digital X-Ray</div>
          <div class="div">ECG</div>
        </div>
        <div class="Company">
          <div class="heading">Company</div>
          <div class="div">Complaint</div>
          <div class="div">Careers</div>
          <div class="div">Affiliate Marketing</div>
          <div class="div">Support</div>
        </div>
        <div class="Get Help">
          <div class="heading">Get Help</div>
          <div class="div">Help Center</div>
          <div class="div">Privacy Policy</div>
          <div class="div">Terms</div>
        
        </div>
      </div>
      <div class="footer3"> <h4>PriMediCals</h4>Since 2000</div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
