{% load static %}

<nav class="navbar navbar-expand-lg bg-light fixed-top ">

    <div class="container-fluid">
      <a class="navbar-brand " href=""><img  src="{% static 'images/logo1.png' %}" class="w-100 mt-3" height="80px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item ">
            <a class="nav-link active d" aria-current="page" href="{% url 'med:home' %}">Home</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle Drop_S" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <b>Our Services</b> 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'shop:allProCat' %}"></a></li>
            {% for link in links %}
              <li><a class="dropdown-item" href="{{link.get_url}}">{{link.name}}</a></li>
            {% endfor %}
            </ul>
          </li>
          <div class="div_auth ">
            <a class="nav-link active " aria-current="page" href="{% url 'med:login' %}"><b>Staff</b> <i class="bi bi-person-fill-lock"></i></a>
          </div>
          <!-- <div class="div_contact">
            <h5>Contact us : <i class="bi bi-telephone"></i>9844107890</h5>
          </div> -->
       
        </ul>
        <form class="d-flex" role="search" method="get" action="">
    <div class="div_new3">
    <input class="form-control  " type="search" name="q" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-warning" type="submit">Search</button>
  </div>
  </form>
      </div>
    </div>
  </nav>